.sidenavigation{
    width: 165px;
    min-height: 550px;
    margin: 0;
    padding: 15px;
    background-color: rgb(43, 38, 48);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
}
h2{
    text-align: center;
    border-bottom: solid 2px gray;
    padding-bottom: 24px;   
    color: white;
}
.sidenavigation ul{
    list-style: none;
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0 ;
}

.sidenavigation ul li{
    padding: 15px;
    border-radius: 10px;
    
}

.active{
    background-color: blue;
}

.navbar{
    width: 100%;
    height: 85px;
    background-color:  rgb(43, 38, 48);
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.container{
    border: gray 1px solid;
    padding: 15px;
    margin: 10px;
}
